!.gitignore

.DS_Store
desktop.ini

!/MNIST_data/.gitkeep
MNIST_data/*

!/src/result/.gitkeep

**/__pycache__
**/log/*
*.jpg
**/uml/**/*.png
*.npy
__init__.py

.env


src/iot_device/data/mnist
src/iot_device/data/mnist/*
src/iot_device/data/visualize
src/iot_device/data/visualize/*
src/iot_device/data/numpy
src/iot_device/data/numpy/*
src/iot_device/data/visualize_target/*
src/edge_server/data/sample.npy
src/edge_server/data/sample_edge.npy
src/edge_server/buffer.jpg
src/iot_device/data/sample_iot.npy
src/result/*

!src/iot_device/data/.gitkeep
!src/iot_device/data/visualize_target/.gitkeep
*.pt
*.png
